{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi explicabo porro quia commodi nam rerum numquam minima odio ad! Esse et placeat laudantium ipsa perspiciatis magni fugit exercitationem blanditiis iusto quisquam voluptatum similique repellat, necessitatibus nemo tempora, harum veritatis quae, itaque voluptates deleniti asperiores illo repellendus! Placeat at dicta quo!</p>
{{end}}
